name: CI

on: [push, pull_request]

defaults:
  run:
    shell: cmd

jobs:
  vs2022:
    name: Visual Studio 2022
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v6

    - name: install llvm utils
      run: |
        CALL "VS2017\install.bat" 1

  vs2026:
    name: Visual Studio 2026
    runs-on: windows-2025-vs2026
    steps:
    - uses: actions/checkout@v6

    - name: install llvm utils
      run: |
        CALL "VS2017\install.bat" 1

  vs2017:
    name: Visual Studio 2017
    if: false
    runs-on: windows-2016
    steps:
    - uses: actions/checkout@v6

    - name: install llvm utils
      run: |
        CALL "VS2017\install.bat" 1
